<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../node_modules/_vue-router@3.1.3@vue-router/dist/vue-router.js"></script>
</head>

<body>
  <div id='app'>
    <input type="text" v-model="firstname">
    <input type="text" v-model="lastname">
    <input type="text" v-model="fullname">

    <p>{{fullname}}</p>
  </div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data() {
      return {
        firstname: '',
        lastname: '',
      }
    },
    methods: {

    },
    watch: { //使用这个属性，可以监视data中指定数据的变化，然后触发这个watch中对应的function处理函数

    },
    computed: { //在computed中，可以定义一些属性，这些属性，叫做计算属性，计算属性的本质，就是一个方法，只不过，我们在使用这些计算
      //属性的时候，是把它们的名称，直接当作属性来使用的，并不会把计算属性，当作方法去调用；

      //注意：计算属性，在引用的时候，一定不要加()去调用，直接把它当作普通属性去使用就好了。
      //主要：只要计算属性，这个function内部，所用到的任何data中的数据发生了变化，就会立即重新计算这个计算属性的值
      //注意：计算属性的求值结果，会被缓存起来，方便下次直接使用；如果计算属性方法中，所以来的任何数据，都没有发生变化，则，不会重新计算属性求值
      'fullname': function () {
        return this.firstname + "  " + this.lastname
      }
    },
  })
</script>


</html>